/.vscode
/.vs

/EasyGAL
/Compiler.o


/EasySim

/Sim/Simulator.o
/Sim/Gal.o
/Sim/CLI.o

/Shared/Validate.o

/Parser/Error.o
/Parser/FunctionParser.o
/Parser/Lexer.o
/Parser/Parser.o
/Parser/TableParser.o

/Translator/DNF.o
/Translator/Fuses.o
/Translator/Helper.o
/Translator/Serialization.o
/Translator/Translator.o
/Translator/Configs.o

/.vs/EasyGAL2/v16/ipch/AutoPCH