/.vscode
/.vs

/EasyGAL.o
/Compiler


/Simulator

/Sim/Simulator.o
/Sim/Gal.o

/Shared/Validate.o

/Compiler/Error.o
/Compiler/FunctionParser.o
/Compiler/Lexer.o
/Compiler/Parser.o
/Compiler/TableParser.o

/Translator/DNF.o
/Translator/Fuses.o
/Translator/Helper.o
/Translator/Serialization.o
/Translator/Translator.o

/Shared/Error.o
/.vs/EasyGAL2/v16/ipch/AutoPCH